/* Reset */

abbr,address,article,aside,audio,b,blockquote,body,body div,caption,cite,code,dd,del,details,dfn,dl,dt,em,fieldset,figure,footer,form,h1,h2,h3,h4,h5,h6,header,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,p,pre,q,samp,section,small,span,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font-weight:400;vertical-align:baseline;background:0 0}article,aside,details,figure,footer,header,nav,section,summary{display:block}*,:after,:before{box-sizing:border-box}embed,img,object{max-width:100%}html{overflow-y:scroll}ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:0 0}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help}table{border-collapse:collapse;border-spacing:0}th{font-weight:700;vertical-align:bottom}td{font-weight:400}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}pre{white-space:pre;white-space:pre-wrap;white-space:pre-line;word-wrap:break-word}input[type=radio]{vertical-align:text-bottom}input[type=checkbox]{vertical-align:bottom}input,select,textarea{font:99% sans-serif}table{font:100%}small{font-size:85%}strong{font-weight:700}td,td img{vertical-align:top}sub,sup{font-size:75%;line-height:0;position:relative}sup{top:-.5em}sub{bottom:-.25em}code,kbd,pre,samp{font-family:monospace,sans-serif}button,input[type=button],input[type=file],input[type=submit],label{cursor:pointer}button,input,select,textarea{margin:0}button,input[type=button]{width:auto;overflow:visible}.clearfix:after,.clearfix:before{content:"\0020";display:block;height:0;overflow:hidden}.clearfix:after{clear:both}.clearfix{zoom:1}

/* Shared properties */

body, .content h2, .content h3{ font-family: Effra, Arial, sans-serif;}
.content{ font-family: Vollkorn, Georgia, serif;}

/* Generic tags*/

body{ background: #f2f2f2; color: #333; font-size: 20px; line-height: 1.5;}
a{ color: #cf553e; text-decoration: none; transition: all 100ms ease-out;}
strong{ color: #1a1a1a;}

/* Common elements */

.header{ padding: 40px 0; text-align: center;}
.home{ color: #b3b3b3; display: inline-block; vertical-align: top;}
  .home:hover{ color: #1a1a1a;}
.logo{ display: inline-block; vertical-align: top;}
.description{ font-size: 16px; font-weight: 300;}

.link{ border: 1px solid #4d4d4d; border-radius: 3px; color: #1a1a1a; display: block; font-size: 12px; font-weight: 400; letter-spacing: 0.2em; margin: 20px; padding: 20px 0; position: relative; text-align: center; text-transform: uppercase; transition: all 100ms ease-out;}
  .link:hover{ background: #cf553e; border-color: #cf553e; color: white;}

/* Post */

.post{ background: white; position: relative;}
.cover{ background: #f2f2f2 no-repeat center center; background-size: cover; height: 240px;}
.heading{ background: white; padding: 25px 25px 40px; text-align: center;}
.title,
.subtitle,
.content h2{ color: #1a1a1a; font-size: 28px; font-weight: 600; letter-spacing: 0.2em; line-height: 1.25; text-transform: uppercase;}
.title{ letter-spacing: 0.15em; line-height: 1.125;}
.subtitle{ color: #808080; font-size: 14px; font-weight: 300; margin: 1em 0;}
.info{ color: #b3b3b3; font-size: 14px;}
.info li{ display: inline-block; margin: 0 0.5em; vertical-align: top;}
.permalink{ display: block; height: 100%; left: 0; position: absolute; top: 0; width: 100%;}

/* Single */

.single{ background: white; margin: 0 auto; max-width: 1200px; position: relative;}
.single .title{ font-size: 32px;}
.single .subtitle,
.single .info{ font-size: 16px;}

.content{ margin: 0 auto; max-width: 840px; padding: 20px;}
.content a{ border-bottom: 2px solid #f2f2f2;}
  .content a:visited{ color: #847bb9;}
  .content a:hover{ border-bottom-color: #cf553e; color: #1a1a1a;}
.content h2{ font-size: 32px; margin: 2em 0 1em; position: relative; text-align: center;}
.content h2 em{ color: #b3b3b3; display: block; font-size: 50%; font-style: normal;}
.content h3{ color: #1a1a1a; font-size: 32px; font-weight: 600; line-height: 1; margin-top: 2em;}
.content h3{ font-size: 24px;}
.content h3 em{ font-weight: 600;}
.content p,
.content blockquote{ margin: 1em 0;}
  .content p:first-child{ margin-top: 0;}
  .content p:last-child{ margin-bottom: 0;}
.content ul{ list-style: outside disc; margin: 1em;}
.content ul ul{ list-style: outside circle;}
.content blockquote{ background: #fefae3; border-left: 5px solid #fce473; font-style: italic; padding: 1.125em 1.5em 1em;}
.content blockquote p{ margin: 0;}
.content p code,
.content li code,
.content table code{ background: #23241f; color: #f8f8f2; font-size: 12px; padding: 3px 5px; position: relative; top: -2px; white-space: nowrap;}
.content figure{ margin: 2em 0 3em; text-align: center;}
.content figcaption{ color: #808080; display: block; font-style: italic; line-height: 1.25; margin: 1em 2em 0;}
.content table{ font-size: 16px; line-height: 1.25; width: 100%;}
.content th,
.content td{ border: 1px solid #e0e0e0; padding: 10px; text-align: left; vertical-align: top;}
.content th img{ max-width: none;}
.content td ul{ margin: 0 1em;}
.content .highlight{ font-size: 12px;}
.content .hljs{ vertical-align: top; width: 100%;}

/*@media (min-width: 660px) {
  body{ font-size: 20px;}
  .cover{ height: 320px;}
  .heading{ padding: 40px 30px 60px;}
  .title{ font-size: 32px;}
  .subtitle,
  .info{ font-size: 18px;}
  .single .title{ font-size: 40px;}
  .single .subtitle,
  .single .info{ font-size: 20px;}
}*/

@media (min-width: 840px) {
  body{ font-size: 20px;}
  .header{ padding: 80px 0;}
  .description{ font-size: 20px;}
  .link{ display: inline-block; font-size: 10px; margin: 0; padding: 6px 12px 8px 14px; vertical-align: top;}
    .link:hover{ padding-right: 24px;}
    .streethub.link{ position: absolute; right: 20px; top: 20px;}
  .link span{ color: white; font-size: 9px; opacity: 0; position: absolute; right: 8px; top: -6px; transition: all 100ms ease-out;}
    .link:hover span{ opacity: 0.5; top: 8px}
  .cover{ height: 480px;}
  .heading{ margin: -60px 60px 0; padding: 40px 40px 60px;}
  .title{ font-size: 36px;}
  .subtitle,
  .info{ font-size: 20px;}
  .main{ margin: 0 auto; padding-bottom: 80px; width: 800px;}
  .single .cover{ height: 600px;}
  .single .heading{ margin: -120px auto 0; max-width: 960px; padding: 80px 60px 60px;}
  .single .title{ font-size: 48px;}
  .single .subtitle{ font-size: 24px;}
  .single .info{ font-size: 20px;}
  .content{ padding: 0 0 80px;}
  .content h2{ font-size: 48px; margin: 2em 0; padding: 0 80px;}
  .content h2:before,
  .content h2:after{ background: #4d4d4d; content: ''; display: block; height: 1px; left: -180px; position: absolute; top: 50%; width: 260px;}
  .content h2:after{ left: auto; right: -180px;}
  .content h3{ font-size: 32px;}
  .content p code,
  .content li code{ font-size: 14px; top: -1px;}
  .content .highlight{ font-size: 14px;}
}

@media (min-width: 1000px) {
  .content figure{ margin: 2em -60px 3em;}
  .content .highlight{ margin: 2em -60px;}
}